<div class="modal" style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Elenco destinatari</h5>
      </div>
      <div class="modal-body">
        <form>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
          <button type="button" class="btn btn-primary">Salva</button>
      </div>
    </div>
  </div>
</div>